@using MudBlazor
@using SteakGrillingGuide.Extensions;

<MudExpansionPanel DisableGutters="true">
    <TitleContent>
        <div class="row">
            <div class="col-9">
                <div class="fs-3">
                    @SteakToCook.Name
                </div>
                <div>
                    @SteakToCook.CenterCook.GetCookingStyleName() - @($"{SteakToCook.Thickness}\"")
                </div>
            </div>
            <div class="col-3 justify-content-center align-content-center">
                @if (StartTime.HasValue)
                {
                    <div class="pt-2">
                        @if (DateTime.Now < SteakToCook.FirstSideStartTime)
                        {
                            <MudProgressCircular Size="Size.Small" Value="SteakToCook.GetWaitPercentange(StartTime.Value)" StrokeWidth="4" Color="Color.Warning" />
                        }
                        else if (DateTime.Now >= SteakToCook.FirstSideStartTime && DateTime.Now < SteakToCook.SecondSideStartTime)
                        {
                            <MudProgressCircular Size="Size.Small" Value="SteakToCook.GetFirstSidePercentage()" StrokeWidth="4" Color="Color.Success" />
                        }
                        else
                        {
                            <MudProgressCircular Size="Size.Small" Value="SteakToCook.GetSecondSidePercentage()" StrokeWidth="4" Color="Color.Success" />
                        }
                    </div>
                }

            </div>
        </div>
    </TitleContent>
    <ChildContent>
        @if (!StartTime.HasValue)
        {
            <div class="row mb-2">
                <div class="col-4 text-center">
                    @if (SteakToCook.SavedSteak != null)
                    {
                        <div>
                            Saved!
                        </div>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Outlined" Color="Color.Info" OnClick="SaveSteakCallback">
                            <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Save" Title="Save" />
                        </MudButton>
                    }

                </div>
                <div class="col-4 text-center">
                    <MudButton Variant="Variant.Outlined" Color="Color.Warning" OnClick="EditSteakCallback">
                        <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Edit" Title="Edit" />
                    </MudButton>
                </div>
                <div class="col-4 text-center">
                    <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="DeleteSteakCallback">
                        <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Delete" Title="Delete" />
                    </MudButton>
                </div>
            </div>
        }
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Starts At</th>
                    <th>First/Second</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @($"{SteakToCook.DurationSetting.TotalTime / 60:0}:{SteakToCook.DurationSetting.TotalTime % 60:00}")
                    </td>
                    <td>
                        <span class="@(SteakToCook.FirstSideStartTime < DateTime.Now && SteakToCook.SecondSideStartTime > DateTime.Now ? "fw-bold text-success" : "")">
                            @($"{SteakToCook.DurationSetting.FirstSide / 60:0}:{SteakToCook.DurationSetting.FirstSide % 60:00}")
                        </span>
                        /
                        <span class="@(SteakToCook.SecondSideStartTime < DateTime.Now ? "fw-bold text-success" : "")">
                            @($"{SteakToCook.DurationSetting.SecondSide / 60:0}:{SteakToCook.DurationSetting.SecondSide % 60:00}")
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </ChildContent>
</MudExpansionPanel>