@using MudBlazor
@using SteakGrillingGuide.Extensions;

<MudExpansionPanel DisableGutters="true">
    <TitleContent>
        <div class="row">
            <div class="col-9">
                <div class="fs-3">
                    @SteakToCook.Name
                </div>
                <div>
                    @SteakToCook.CookingStyle.GetCookingStyleName() - @($"{SteakToCook.Thickness}\"")
                </div>
            </div>
            <div class="col-3 justify-content-center align-content-center">
                @if (StartTime.HasValue)
                {
                    if (DateTime.Now < SteakToCook.FirstSideStartTime)
                    {
                        <MudProgressCircular Size="Size.Small" Value="SteakToCook.GetWaitPercentange(StartTime.Value)" Color="Color.Warning" />
                    }
                    else if (DateTime.Now >= SteakToCook.FirstSideStartTime && DateTime.Now < SteakToCook.SecondSideStartTime)
                    {
                        <MudProgressCircular Size="Size.Small" Value="SteakToCook.GetFirstSidePercentage()" Color="Color.Success" />
                    }
                    else
                    {
                        <MudProgressCircular Size="Size.Small" Value="SteakToCook.GetSecondSidePercentage()" Color="Color.Success" />
                    }
                }

            </div>
        </div>
    </TitleContent>
    <ChildContent>
        @if(!StartTime.HasValue)
        {
            <div class="row mb-2">
                <div class="col-6 text-center">
                    <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="EditSteakCallback">
                        <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Edit" Title="Edit" />
                    </MudButton>

                </div>
                <div class="col-6 text-center">
                    <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="DeleteSteakCallback">
                        <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Delete" Title="Delete" />
                    </MudButton>
                </div>
            </div>
        }
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Side</th>
                    <th>Starts At</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">
                        @if (DateTime.Now > SteakToCook.FirstSideStartTime && DateTime.Now < SteakToCook.SecondSideStartTime)
                        {
                            <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.KeyboardArrowRight" Color="Color.Success" />
                        }
                    </td>
                    <td>
                        First
                    </td>
                    <td>
                        @($"{SteakToCook.DurationSetting.TotalTime / 60:0}:{SteakToCook.DurationSetting.TotalTime % 60:00}")
                    </td>
                    <td>
                        @($"{SteakToCook.DurationSetting.FirstSide / 60:0}:{SteakToCook.DurationSetting.FirstSide % 60:00}")
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        @if (DateTime.Now > SteakToCook.SecondSideStartTime)
                        {
                            <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.KeyboardArrowRight" Color="Color.Success" />
                        }
                    </td>
                    <td>
                        Second
                    </td>
                    <td>
                        @($"{SteakToCook.DurationSetting.SecondSide / 60:0}:{SteakToCook.DurationSetting.SecondSide % 60:00}")
                    </td>
                    <td>
                        @($"{SteakToCook.DurationSetting.SecondSide / 60:0}:{SteakToCook.DurationSetting.SecondSide % 60:00}")
                    </td>
                </tr>
            </tbody>
        </table>
    </ChildContent>
</MudExpansionPanel>