@page "/"
@using MudBlazor;
@using SteakGrillingGuide.Components
@using SteakGrillingGuide.Modals

<div class="row mb-3 border-bottom border-dark pb-3">
    @if(!RunComplete)
    {
        <div class="col-3">
            <MudButton Variant="Variant.Outlined" Color="Color.Default" Disabled="(Timer != null && Timer.Enabled)" @onclick="OpenSteakDialog">
                <MudIcon Icon="@Icons.Material.Outlined.Add" Title="Add" />
            </MudButton>
        </div>
        <div class="col-3 text-end">
            <MudButton Variant="Variant.Outlined" Color="Color.Error" Disabled="(Timer == null || !Timer.Enabled)" @onclick="OpenStopDialog">
                <MudIcon Icon="@Icons.Material.Outlined.Pause" Title="Pause" />
            </MudButton>
        </div>
        <div class="col-3 text-end">
            <MudButton Variant="Variant.Outlined" Color="Color.Info" @onclick="(() => DisplayInfoDialog(true))">
                <MudIcon Icon="@Icons.Material.Filled.Info" Title="Info" />
            </MudButton>
        </div>
        <div class="col-3 text-end">
            <MudButton Variant="Variant.Outlined" Color="Color.Success" Disabled="(Steaks== null || !Steaks.Any() || (Timer != null && Timer.Enabled))" @onclick="OpenStartDialog">
                <MudIcon Icon="@Icons.Material.Outlined.Timer" Title="Timer" />
            </MudButton>
        </div>
        <div class="offset-3 col-6 text-center align-content-center justify-content-center mt-3">
            @if (Steaks.Any())
            {
                if (StartAt.HasValue && FinishAt.HasValue)
                {
                    var totalSeconds = (FinishAt.Value - DateTime.Now).TotalSeconds;
                    <div>
                        Grill Time: @($"{(int)totalSeconds / 60:0}:{(int)totalSeconds % 60:00}")
                    </div>
                }
                else
                {
                    <div>
                        Grill Time: @($"{(int)LongestTime / 60:0}:{(int)LongestTime % 60:00}")
                    </div>
                }
            }
        </div>
        @if (!string.IsNullOrEmpty(SnackbarError))
        {
            <div class="alert alert-danger mt-3">
                @(new MarkupString(SnackbarError))
            </div>
        }
    }
    else
    {
        <div class="col text-center">
            <MudButton Variant="Variant.Outlined" Color="Color.Success" OnClick="ResetApp">
                <MudIcon Icon="@Icons.Material.Filled.Replay" Title="Reset"/> Reset
            </MudButton>
        </div>
    }
</div>
@if (Steaks.Any())
{
    <MudExpansionPanels MultiExpansion="true">
        @foreach (var steak in Steaks)
        {
            <SteakSummary SteakToCook="steak" LongestTime="LongestTime" StartTime="StartAt" SaveSteak="OnSteakSaved" EditSteak="OnSteakEdited" DeleteSteak="OnSteakDeleted" />
        }
    </MudExpansionPanels>
}
else
{
    <div>
        No steaks added yet.
    </div>
}
<UpsertSteak AddSteak="OnSteakAdded" Steak="UpsertingSteak" UserSavedSteaks="UserSavedSteaks"/>
<Suggestions/>
<AppCrashed BeforeFinish="RecoveryBeforeFinished" HandleDecision="OnRestored"/>
<BeginTimer StartTimer="OnTimerStarted" SteaksToPlaceAtStart="SteaksToStart"/>
<StopTimer StopTimerCallback="OnTimerStopped" />
<ConfirmDelete Steak="SteakToDelete" UserConfirmed="OnDeleteConfirmed"/>