@page "/"
@using MudBlazor;
@using SteakGrillingGuide.Components
@using SteakGrillingGuide.Modals

<div class="row mb-3 border-bottom border-dark pb-3">
    @if(!RunComplete)
    {
        <div class="col-3">
            <MudButton Variant="Variant.Outlined" Color="Color.Default" Disabled="(Timer != null && Timer.Enabled)" @onclick="OpenSteakDialog">
                <MudIcon Icon="@Icons.Material.Outlined.Add" Title="Add" />
            </MudButton>
        </div>
        <div class="col-3 text-end">
            <MudButton Variant="Variant.Outlined" Color="Color.Error" Disabled="(Timer == null || !Timer.Enabled)" @onclick="OpenStopDialog">
                <MudIcon Icon="@Icons.Material.Outlined.Pause" Title="Pause" />
            </MudButton>
        </div>
        <div class="col-3 text-end">
            <MudButton Variant="Variant.Outlined" Color="Color.Info" @onclick="(() => DisplayInfoDialog(true))">
                <MudIcon Icon="@Icons.Material.Filled.Info" Title="Info" />
            </MudButton>
        </div>
        <div class="col-3 text-end">
            <MudButton Variant="Variant.Outlined" Color="Color.Success" Disabled="(SteakService.Steaks== null || !SteakService.Steaks.Any() || (Timer != null && Timer.Enabled))" @onclick="OpenStartDialog">
                <MudIcon Icon="@Icons.Material.Outlined.Timer" Title="Timer" />
            </MudButton>
        </div>
        <div class="offset-3 col-6 text-center align-content-center justify-content-center mt-3">
            @if (SteakService.Steaks.Any())
            {
                if (StartAt.HasValue && FinishAt.HasValue)
                {
                    var totalSeconds = (FinishAt.Value - DateTime.Now).TotalSeconds;

                    <div>
                        Grill Time: @($"{(int)totalSeconds / 60:0}:{(int)totalSeconds % 60:00}")
                    </div>
                }
                else
                {
                    var longestTime = SteakService.Steaks.Max(i => i.DurationSetting.TotalTime);

                    <div>
                        Grill Time: @($"{(int)longestTime / 60:0}:{(int)longestTime % 60:00}")
                    </div>
                }
            }
        </div>
        @if (!string.IsNullOrEmpty(SnackbarError))
        {
            <div class="alert alert-danger mt-3">
                @(new MarkupString(SnackbarError))
            </div>
        }
    }
    else
    {
        <div class="col text-center">
            <MudButton Variant="Variant.Outlined" Color="Color.Success" OnClick="ResetApp">
                <MudIcon Icon="@Icons.Material.Filled.Replay" Title="Reset"/> Reset
            </MudButton>
        </div>
    }
</div>
@if (SteakService.Steaks.Any())
{
    var longestTime = SteakService.Steaks.Max(i => i.DurationSetting.TotalTime);

    <MudExpansionPanels MultiExpansion="true">
        @foreach (var steak in SteakService.Steaks)
        {
            <SteakSummary SteakToCook="steak" LongestTime="longestTime" StartTime="StartAt" EditSteak="EditSteak" DeleteSteak="ConfirmDeleteSteak" />
        }
    </MudExpansionPanels>
}
else
{
    <div>
        No steaks added yet.
    </div>
}
<UpsertSteak Steak="UpsertingSteak"/>
<Suggestions/>
<AppCrashed HandleDecision="HandleSteakRestore" />
<BeginTimer StartTimer="StartTimer"/>
<StopTimer StopTimerCallback="StopTimer" />
<ConfirmDelete Steak="SteakToDelete"/>